#div{
width:40%;
height:500px;
border:solid 1px #dbd6d6;
border-radius: 20px;
display:block;

}
input,label{
    width:80% ;
    height: 30px;
    border-radius:5px;
    display:inline-block;
    box-sizing: border-box;
    padding:10px;
}
label{
    margin-top:9px;
    text-align: left;
}
#submit{
    background-color: rgba(29, 179, 49, 0.753);
    text-align: center;
     color:white;
     width: 10%;
    height:30px;
    border-radius: 5px;
    position: absolute;
  
  left: 100px;
  margin-top: 8px;

}
#cancelbtn{
    background-color: rgb(221, 59, 59);
    color:white;
    width: 10%;
    height:30px;
    border-radius: 5px;
     position: absolute;
  right: 63%;
  margin-top: 8px;
    
}
 
 
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(0, 132, 255);
  position: sticky;
  height: 30px;
  width:100%;
  
}

.rightbar {
  float: right;
  padding-left:8px;
  padding-right: 10px;
  display:inline-block;
 color:white;
 padding-top:4px;
}
#menu{
  float:left;
  color:white;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 15px;
  
}
 #menu:hover,li:hover{
  background-color: rgba(0, 47, 255, 0.925);
  height:30px;
  color:black;
  }
#menubox{
  width: 200px;
  height:200px;
  background-color: #dbd6d6;
  border-radius:8px;
  margin-top: 5px;
  display:none;
}
button{
  display:block;
  width:200px;
  height:40px;
  border:none;
  
  }
  button:hover{
    background-color: #dbd6d69f;
    font-size: larger;
  }
  #product{
    width:600px;
    height:300px;
    background-color: #dbd6d6;
    position:absolute;
    left:500px;
    bottom:100px;
    top;20px;
    
  }
  #increasebtn{
    position:absolute;
    bottom:120px;
    width:30px;
    opacity: 0.5;
    
  }
  #decreasebtn{
    
  position: absolute;
  left:570px;
  bottom:120px;
    width:30px;
    opacity: 0.5;
    
  }
  img{
    
   width: 600px;
   height: 300px;
  }